section {
  padding: 80px 0;
  overflow: hidden;
}

.nav-menu a {
  color: #fff;
}

.header-scrolled .nav-menu a {
  color: #555555;
}

.header-scrolled .nav-menu .get-started a {
  color: #fff;
}

.mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  height: 80vh;
  margin-top: 0;
  position: relative;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#hero::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(30, 67, 86, 0.8);
}

#hero h1 {
  color: #fff;
}

#hero h1 span {
  color: #4fa6d5;
}

#hero h2 {
  color: rgb(255 255 255 / 0.7);
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #68A4C4;
}

#hero .btn-get-started:hover {
  background: #68A4C4;
  color: #fff;
  text-decoration: none;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.about .content .p-15 {
  padding: 69px;
}

.about .content p {
  color: #fff;
}

.about .content ul li, .about .content ul i {
  color: #fff;
}

.img-fluid-full {
  width: 50vw;
  height: 462px;
}

.services .icon {
  background: transparent;
}

.services .icon i {
  font-size: 60px;
  margin-bottom: 20px;
  color: #4fa6d5;
}

.services .icon-box:hover .title a, .services .icon-box:hover .description {
  color: initial;
}

.services .icon-box {
  box-shadow: none;
  text-align: center;
}

.services .icon-box::before {
  content: none;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

.features .row {
  margin: 0;
}

.features .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #f6f6f6;
  transition: ease-in-out 0.3s;
}

.features .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.features .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}

.features .icon-box h3 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}

.features .icon-box h3 a:hover {
  color: #3498db;
}

.features .icon-box:hover {
  background: #eef7fc;
}

.features .icon-box {
  background: #eef7fc;
  justify-content: center;
  border-radius: 8px;
}

.features .icon-box i {
  color: #4fa6d5;
  vertical-align: middle;
}

.get-quote a {
  border: 2px solid #4fa6d5;
  border-radius: 50px;
  background: #4fa6d5;
  color: #fff;
  padding: 10px 35px;
  font-size: 20px;
  display: inline-block;
  margin-top: 50px;
}

.get-quote a:hover {
  color: #fff;
  background: #57aae1;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  .get-quote a {
    font-size: 15px;
  }
  .img-fluid-full {
    width: 100%;
    height: auto;
  }
  .about .content .p-15 {
    padding: 30px;
  }
  #hero .hero-img img {
    width: 80%;
  }
}